<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Item recommendation</title>
  </head>
  <body class="well well-lg">
    {% extends "template.html" %}
    {% block content %}
    <div class="container" >
    <h1> Item recommendation </h1>
    <h3> Input model id here, and get a list of similar items</h3>
    <form>
      Input Model Id: <input type="text" name="id"><br>
      <input type="submit" value="Submit">
    </form>
    <div>{{html_str | safe}}</div>
  </div>
  </body>
    {% endblock %}
</html>


